.container {
  background-color: #c00025;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
}

.logo-container {
  padding: 20px;
}

.display {
  margin: -10px 10px 0 10px;
  height: 100px;
  width: 86%;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.leftside {
  width: 75%;
}

.leftside > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 6%;
  margin: 2%;
}

.leftside > div > * {
  background-color: #2061b0;
  border-color: #2061b0;
  margin: 0 15px;
}
.leftside > div:nth-child(2) > * {
  justify-content: space-evenly;
  background-color: #123c78;
  border-color: #123c78;
}

.tenth {
  width: 80%;
  border-radius: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.rightside {
  width: 10%;
  margin-left: 25px;
}

.rightside > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightside > div > * {
  border-color: #2061b0;
  background-color: #2061b0;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px 0;
  border-radius: 50%;
  color: white;
  box-shadow: 1px 2px black;
}
